*{
    margin: 0;
    padding: 0
}
#title{
    text-align: center;
    padding: 150px;
    padding-top: 10px;
}

#chiacot{
    display: flex;
    margin-top: -100px;
}

.box{
    width: 30%;
    padding-left: 30px;
    padding-right: 15px;
}

.cachdong{
    line-height:1.8;
    height: 190px;
}

.last{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}